@tailwind base;
@tailwind components;
@tailwind utilities;

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    --tw-ring-offset-width: 0px;
    --tw-ring-color: #34d399;
    border-color: #34d399;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #C1C1C1 #f1f1f1;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    border-radius: 20px;
    border: 2px solid white;
}

.sc-btn-primary {
    @apply flex items-center bg-emerald-600 text-white border-none rounded-full hover:bg-emerald-700 transition duration-300;
}

.sc-btn-secondary {
    @apply flex items-center bg-emerald-300 text-emerald-700 border-none rounded-full hover:bg-emerald-700 hover:text-emerald-300 transition duration-300;
}

.sc-btn-disabled {
    @apply flex items-center bg-gray-300 text-gray-600 border-none rounded-full transition duration-300;
}

.sc-btn-archive {
    @apply flex items-center bg-indigo-500 text-white border-none rounded-full hover:bg-indigo-600 transition duration-300;
}

.sc-btn-danger {
    @apply flex items-center bg-red-500 text-white border-none rounded-full hover:bg-red-600 transition duration-300;
}

.sc-btn-action {
    @apply flex items-center rounded-full text-white bg-gradient-to-r from-emerald-300 to-teal-700 hover:bg-gradient-to-r hover:from-emerald-400 hover:to-teal-800;
}

.sc-btn-ghost {
    @apply flex items-center border-2 border-emerald-600 rounded-full text-emerald-600 hover:bg-emerald-100 hover:opacity-75 transition duration-300;
}

.sc-btn-wisp {
    @apply flex items-center border-2 border-emerald-300 rounded-full text-emerald-300 hover:bg-emerald-900 hover:opacity-75 transition duration-300;
}

.sc-btn-red-ghost {
    @apply flex items-center border-2 border-red-600 rounded-full text-red-600 hover:bg-red-100 hover:opacity-75 transition duration-300;
}

.sc-btn-indighost {
    @apply flex items-center border-2 border-indigo-600 rounded-full text-indigo-600 hover:bg-indigo-100 hover:opacity-75 transition duration-300;
}

.sc-btn-ghost > *,
.sc-btn-wisp > *,
.sc-btn-red-ghost > *,
.sc-btn-indighost > *
{
    @apply px-6 py-0.5;
}
.sc-btn-primary > *,
.sc-btn-secondary > *,
.sc-btn-disabled > *,
.sc-btn-archive > *,
.sc-btn-danger > *,
.sc-btn-action > * {
    @apply px-6 py-1;
}