@tailwind base;
@tailwind components;
@tailwind utilities;

[type='text']:focus,
[type='email']:focus,
[type='url']:focus,
[type='password']:focus,
[type='number']:focus,
[type='date']:focus,
[type='datetime-local']:focus,
[type='month']:focus,
[type='search']:focus,
[type='tel']:focus,
[type='time']:focus,
[type='week']:focus,
[multiple]:focus,
textarea:focus,
select:focus {
    --tw-ring-offset-width: 0px;
    --tw-ring-color: #34d399;
    border-color: #34d399;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #C1C1C1 #f1f1f1;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    border-radius: 20px;
}

*::-webkit-scrollbar-thumb {
    background-color: #C1C1C1;
    border-radius: 20px;
    border: 2px solid white;
}